<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Gerenciador financeiro:</string>
			<key>Key</key>
			<string>manager</string>
			<key>Titles</key>
			<array>
				<string>Zero Paper</string>
				<string>Conta Azul</string>
			</array>
			<key>Values</key>
			<array>
				<string>ZeroPaper</string>
				<string>ContaAzul</string>
			</array>
		</dict>
		<dict>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>email</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Email:</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>IsSecure</key>
			<true/>
			<key>Key</key>
			<string>pass</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Senha:</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
